.footer {
  padding: 40px;
  background-color: #2C3E50; /* Dark background */
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.footerTitle {
  font-size: 1.8em; /* Increased title size */
  font-weight: bold;
  margin-bottom: 10px;
  color: #ecf0f1; /* Light color for contrast */
}

.footerSubTitle {
  font-size: 1.1em; /* Subtle size */
  margin: 5px 0;
}

.socialIcons {
  display: flex;
  align-items: center;
}

.iconButton {
  color: white; /* Icon color */
  margin-left: 20px; /* Spacing between icons */
  transition: transform 0.3s ease;

  /* Optional hover effect */
  &:hover {
      transform: scale(1.1); /* Scale effect on hover */
      color: #1abc9c; /* Change color on hover */
  }
}

.icon {
  font-size: 2em; /* Larger icon size */
  transition: color 0.3s ease;
}
