*{
    margin:0%;
    padding: 0%;
}

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Makes the container take at least the full height of the viewport */
}

.content {
    flex: 1; /* This allows the content area to grow and fill the space */
    padding: 20px; /* Add padding as needed */
}

footer {
    margin-top: auto; /* Push the footer to the bottom of the container */
}
