.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--titleFontFamily);
    font-weight: 500;
    height: 80vh;
    width: 100%;
    background-color: #040404;
    border-radius: 5px;
    text-align: center;
    background-size: cover; /* Ensure the image covers the whole container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */

}


h1 {
    margin: 0; /* Reset default margins */
    font-size: 3rem;
}


.typed {
    display: inline; 
    border-right: 2px solid; 
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent; 
    }
    50% {
        border-color: aliceblue; 
    }
}

@keyframes typing {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
    }
}
